# /node_modules/* in the project root is ignored by default
# build artefacts
config/*
dist/*
coverage/*
docs/*
# data definition files
**/*.d.ts
**/*.graphql
# tests files
/src/__tests__/
# custom definition files
/src/types/